/* app global css */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  background: url("../images/bg.png") top / cover no-repeat black;
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h1{
  font-size: 3rem;
  text-shadow: 0px 0px 1px #ddd;
}
