.dp__input {
  font-family: Play, Arial, Helvetica, sans-serif !important;
  font-size: 0.8rem !important;
  background:  rgba(16, 16, 16, 0.502) !important;
  border: 1px solid transparent !important;
}
.dp__input:hover {
  background: #101010;
  outline: none;
  box-shadow: inset 0px 0px 1px 1px #787878;
}