/* Colors */
$mercedes: #00D2BE;
$ferrari:  #DC0000;
$mclaren: #FF8700;
$redbull: #0600EF;
$haas:  #787878;
$haas-light: #FFFFFF;
$racing: #F596C8;
$alphatauri: #2B4562;
$alfaromeo: #900000;
$williams: #005AFF;
$renault: #FFF500;
$redbull: #1E41FF;
$alpine: #0090FF;
$astonmartin: #006F62;

$redbull-yellow: #FFCC00;
$redbull-red: #D2003C;
$ferrari-red:  #ff2800;
$ferrari-yellow:  #ffff00;
$mclaren-orange:  #f98e1d;
$mercedes-silver:  rgb(11, 31, 42);

$yellow:  rgb(253, 216, 0);
$red: rgb(236, 35, 35);
$grey: #707173;
$green:#49d377;